@model List<OrderDetailsViewModel>

@section title {
    <h3>Order Management</h3>
}

<table>
    <thead>
        <tr>
            <th>Order Id</th>
            <th>User Email</th>
            <th>Delivery Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.OrderId</td>
                <td>@order.UserEmail</td>
                <td>@order.DeliveryStatus</td>
                <td><a asp-controller="Order" asp-action="edit" asp-route-id="@order.OrderId">Edit</a></td>
            </tr>
        }
    </tbody>
</table>

